.header {
    width: 100%;
    background-color: #0e1720;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;
}

/* #0f1011 */

.header__container {
    margin: auto;
    max-width: 800px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    color: white;
    font-size: 1.7rem;
}

.header__logout_button {
    border: none;
    font-size: 1.1rem;
    color: white;
    background-color: #B13C3C;
    font-weight: 800;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 2px;
}

.header__logout_button:hover {
    background-color: #be3838;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.main__button_container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.main__add_button {
    width: 47%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #1357af;
    cursor: pointer;
}

.main__filter_button {
    width: 47%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #2a2d38cc;
    cursor: pointer;
}